include ../mixins/message

doctype html
html
    head 
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.3/css/all.css", integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/style.css")
        title #{pageTitle} | #{siteName}
    body
        if messages.info
            +message({
                type: "info",
                text: messages.info
            })
        else if messages.error
            +message({
                type: "error",
                text: messages.error
            })
        else if messages.success
            +message({
                type: "success",
                text: messages.success
            })

        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")