extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            label(for="file") Video File
            input(type="file", name="file", id="file")
            input(type="text", name="title", placeholder="Title")
            textarea(name="desctiption") 
            input(type="submit", value="Uplod Video")