mixin videoPlayer(video = {})
    .videoPlayer#wetube-player
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__column
                span#wetube-player__volumeBtn
                    i.fas.fa-volume-up
                span
                    span#wetube-player__currentTime 00:00:00
                    |/ 
                    span#wetube-player__fullTime 00:00:00
            .videoPlayer__column
                span#wetube-player__playBtn
                    i.fas.fa-play
            .videoPlayer__column
                span#wetube-player__screenBtn
                    i.fas.fa-expand